.navItemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #00A19D;
}

.navItemWrapper > h3 {
  margin: 8px;
  margin-left: 22px;
  color: white;
}

.navItemBtnContainer {
  margin-right: 22px;
}

.navItemBtnContainer > button {
  margin-right: 8px;
  background-color: yellowgreen;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px;
}

.navItemBtnContainer > button:hover {
  cursor: pointer;
}
